In [65]:
import pandas as pd
df = pd.read_csv("combined_file.csv")
df

,Sex,agey,province,year_sick,month_sick,year_define,month_define,year_found,month_found,PROV_ID,MinRain,MaxRain,AvgRain,ProvinceID,Tmax,Tmin
0,ชาย,13,ลพบุรี,2023,1,2023,1,2023,1,16,0.00,1.300000,0.104646,16.0,35.4,13.3
1,หญิง,20,ลพบุรี,2023,1,2023,1,2023,1,16,0.00,1.300000,0.104646,16.0,35.4,13.3
2,หญิง,4,ลพบุรี,2023,1,2023,1,2023,1,16,0.00,1.300000,0.104646,16.0,35.4,13.3
3,หญิง,8,ลพบุรี,2023,1,2023,1,2023,1,16,0.00,1.300000,0.104646,16.0,35.4,13.3
4,หญิง,16,ลพบุรี,2023,1,2023,1,2023,1,16,0.00,1.300000,0.104646,16.0,35.4,13.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7091,ชาย,47,นครนายก,2023,12,2023,12,2024,1,26,5.60,27.480000,14.828259,NaN,NaN,NaN
7092,หญิง,54,พระนครศรีอยุธยา,2023,10,2023,10,2023,10,14,117.32,170.200000,143.530174,14.0,36.2,23.0
7093,ชาย,33,อ่างทอง,2023,11,2023,11,2023,11,15,59.03,86.370000,75.188803,NaN,NaN,NaN
7094,หญิง,54,ปทุมธานี,2023,7,2023,7,2023,7,13,67.50,116.800003,94.471530,13.0,37.5,24.5
7095,หญิง,32,นนทบุรี,2023,12,2023,12,2023,12,12,6.26,26.990000,16.877430,NaN,NaN,NaN

In [67]:
df = df.drop(['PROV_ID', 'ProvinceID'], axis=1)
df

,Sex,agey,province,year_sick,month_sick,year_define,month_define,year_found,month_found,MinRain,MaxRain,AvgRain,Tmax,Tmin
0,ชาย,13,ลพบุรี,2023,1,2023,1,2023,1,0.00,1.300000,0.104646,35.4,13.3
1,หญิง,20,ลพบุรี,2023,1,2023,1,2023,1,0.00,1.300000,0.104646,35.4,13.3
2,หญิง,4,ลพบุรี,2023,1,2023,1,2023,1,0.00,1.300000,0.104646,35.4,13.3
3,หญิง,8,ลพบุรี,2023,1,2023,1,2023,1,0.00,1.300000,0.104646,35.4,13.3
4,หญิง,16,ลพบุรี,2023,1,2023,1,2023,1,0.00,1.300000,0.104646,35.4,13.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7091,ชาย,47,นครนายก,2023,12,2023,12,2024,1,5.60,27.480000,14.828259,NaN,NaN
7092,หญิง,54,พระนครศรีอยุธยา,2023,10,2023,10,2023,10,117.32,170.200000,143.530174,36.2,23.0
7093,ชาย,33,อ่างทอง,2023,11,2023,11,2023,11,59.03,86.370000,75.188803,NaN,NaN
7094,หญิง,54,ปทุมธานี,2023,7,2023,7,2023,7,67.50,116.800003,94.471530,37.5,24.5
7095,หญิง,32,นนทบุรี,2023,12,2023,12,2023,12,6.26,26.990000,16.877430,NaN,NaN

In [13]:
# คอลัมน์ที่มีค่า NaN อย่างน้อยหนึ่งค่า
nan_columns = df.columns[df.isna().any()].tolist()

print("Columns with NaN values:", nan_columns)

Columns with NaN values: ['Tmax', 'Tmin']

In [69]:
# ตรวจสอบจำนวน NaN เฉพาะในคอลัมน์ 'A' และ 'B'
nan_counts_selected_columns = df[['Tmax','Tmin']].isna().sum()

print("จำนวน NaN ในคอลัมน์ที่เลือก:")
print(nan_counts_selected_columns)

จำนวน NaN ในคอลัมน์ที่เลือก:
Tmax    2798
Tmin    2798
dtype: int64

In [29]:
import numpy as np
# กำหนดกลุ่มจังหวัดที่ต้องการใช้ในการคำนวณค่าเฉลี่ย
target_provinces = ['พระนครศรีอยุธยา', 'ลพบุรี', 'สุพรรณบุรี']

# คำนวณค่าเฉลี่ย Tmax สำหรับจังหวัดที่กำหนดในแต่ละ (year_sick, month_sick)
avg_tmax = (
    df[df['province'].isin(target_provinces)]
    .groupby(['year_sick', 'month_sick'])['Tmax']
    .mean()
    .reset_index()
    .rename(columns={'Tmax': 'avg_Tmax'})
)

# รวมค่าเฉลี่ยที่ได้กลับเข้ากับ DataFrame หลัก
df = df.merge(avg_tmax, on=['year_sick', 'month_sick'], how='left')

# เติมค่า Tmax ในจังหวัด "อ่างทอง" ด้วยค่าเฉลี่ยที่คำนวณได้
df.loc[(df['province'] == 'อ่างทอง') & (df['Tmax'].isna()), 'Tmax'] = df['avg_Tmax']

# ลบคอลัมน์ค่าเฉลี่ยออก (ถ้าไม่ต้องการเก็บไว้)
df = df.drop(columns=['avg_Tmax'])

print(df)

       Sex  agey         province  year_sick  month_sick  year_define  \
0      ชาย    13           ลพบุรี       2023           1         2023
1     หญิง    20           ลพบุรี       2023           1         2023
2     หญิง     4           ลพบุรี       2023           1         2023
3     หญิง     8           ลพบุรี       2023           1         2023
4     หญิง    16           ลพบุรี       2023           1         2023
...    ...   ...              ...        ...         ...          ...
7091   ชาย    47          นครนายก       2023          12         2023
7092  หญิง    54  พระนครศรีอยุธยา       2023          10         2023
7093   ชาย    33          อ่างทอง       2023          11         2023
7094  หญิง    54         ปทุมธานี       2023           7         2023
7095  หญิง    32          นนทบุรี       2023          12         2023

      month_define  year_found  month_found  MinRain     MaxRain     AvgRain  \
0                1        2023            1     0.00    1.300000    0.104646
1                1        2023            1     0.00    1.300000    0.104646
2                1        2023            1     0.00    1.300000    0.104646
3                1        2023            1     0.00    1.300000    0.104646
4                1        2023            1     0.00    1.300000    0.104646
...            ...         ...          ...      ...         ...         ...
7091            12        2024            1     5.60   27.480000   14.828259
7092            10        2023           10   117.32  170.200000  143.530174
7093            11        2023           11    59.03   86.370000   75.188803
7094             7        2023            7    67.50  116.800003   94.471530
7095            12        2023           12     6.26   26.990000   16.877430

           Tmax  Tmin
0     35.400000  13.3
1     35.400000  13.3
2     35.400000  13.3
3     35.400000  13.3
4     35.400000  13.3
...         ...   ...
7091        NaN   NaN
7092  36.200000  23.0
7093  36.007882   NaN
7094  37.500000  24.5
7095        NaN   NaN

[7096 rows x 14 columns]

In [31]:
nan_counts_selected_columns = df[['Tmax','Tmin']].isna().sum()

print("จำนวน NaN ในคอลัมน์ที่เลือก:")
print(nan_counts_selected_columns)

จำนวน NaN ในคอลัมน์ที่เลือก:
Tmax    2601
Tmin    2798
dtype: int64

In [35]:
target_provinces = ['พระนครศรีอยุธยา', 'ลพบุรี', 'สุพรรณบุรี']

# คำนวณค่าเฉลี่ย Tmin สำหรับจังหวัดที่กำหนดในแต่ละ (year_sick, month_sick)
avg_tmin = (
    df[df['province'].isin(target_provinces)]
    .groupby(['year_sick', 'month_sick'])['Tmin']
    .mean()
    .reset_index()
    .rename(columns={'Tmin': 'avg_Tmin'})
)

# รวมค่าเฉลี่ยที่ได้กลับเข้ากับ DataFrame หลัก
df = df.merge(avg_tmin, on=['year_sick', 'month_sick'], how='left')

# เติมค่า Tmin ในจังหวัด "อ่างทอง" ด้วยค่าเฉลี่ยที่คำนวณได้
df.loc[(df['province'] == 'อ่างทอง') & (df['Tmin'].isna()), 'Tmin'] = df['avg_Tmin']

# ลบคอลัมน์ค่าเฉลี่ยออก (ถ้าไม่ต้องการเก็บไว้)
df = df.drop(columns=['avg_Tmin'])

print(df)

       Sex  agey         province  year_sick  month_sick  year_define  \
0      ชาย    13           ลพบุรี       2023           1         2023
1     หญิง    20           ลพบุรี       2023           1         2023
2     หญิง     4           ลพบุรี       2023           1         2023
3     หญิง     8           ลพบุรี       2023           1         2023
4     หญิง    16           ลพบุรี       2023           1         2023
...    ...   ...              ...        ...         ...          ...
7091   ชาย    47          นครนายก       2023          12         2023
7092  หญิง    54  พระนครศรีอยุธยา       2023          10         2023
7093   ชาย    33          อ่างทอง       2023          11         2023
7094  หญิง    54         ปทุมธานี       2023           7         2023
7095  หญิง    32          นนทบุรี       2023          12         2023

      month_define  year_found  month_found  MinRain     MaxRain     AvgRain  \
0                1        2023            1     0.00    1.300000    0.104646
1                1        2023            1     0.00    1.300000    0.104646
2                1        2023            1     0.00    1.300000    0.104646
3                1        2023            1     0.00    1.300000    0.104646
4                1        2023            1     0.00    1.300000    0.104646
...            ...         ...          ...      ...         ...         ...
7091            12        2024            1     5.60   27.480000   14.828259
7092            10        2023           10   117.32  170.200000  143.530174
7093            11        2023           11    59.03   86.370000   75.188803
7094             7        2023            7    67.50  116.800003   94.471530
7095            12        2023           12     6.26   26.990000   16.877430

           Tmax       Tmin   avg_Tmax
0     35.400000  13.300000  35.400000
1     35.400000  13.300000  35.400000
2     35.400000  13.300000  35.400000
3     35.400000  13.300000  35.400000
4     35.400000  13.300000  35.400000
...         ...        ...        ...
7091        NaN        NaN  36.511483
7092  36.200000  23.000000  36.219741
7093  36.007882  17.236946  36.007882
7094  37.500000  24.500000  37.354167
7095        NaN        NaN  36.511483

[7096 rows x 15 columns]

In [41]:
nan_counts_selected_columns = df[['Tmax','Tmin']].isna().sum()

print("จำนวน NaN ในคอลัมน์ที่เลือก:")
print(nan_counts_selected_columns)

จำนวน NaN ในคอลัมน์ที่เลือก:
Tmax    2601
Tmin    2183
dtype: int64

In [49]:
target_provinces = ['ปราจีน', 'สระบุรี', 'นครราชสีมา','ฉพเชิงเทรา','ปทุมธานี']

# คำนวณค่าเฉลี่ย Tmin สำหรับจังหวัดที่กำหนดในแต่ละ (year_sick, month_sick)
avg_tmin = (
    df[df['province'].isin(target_provinces)]
    .groupby(['year_sick', 'month_sick'])['Tmax']
    .mean()
    .reset_index()
    .rename(columns={'Tmax': 'avg_Tmax'})
)

# รวมค่าเฉลี่ยที่ได้กลับเข้ากับ DataFrame หลัก
df = df.merge(avg_tmin, on=['year_sick', 'month_sick'], how='left')

# เติมค่า Tmin ในจังหวัด "อ่างทอง" ด้วยค่าเฉลี่ยที่คำนวณได้
df.loc[(df['province'] == 'นครนายก') & (df['Tmax'].isna()), 'Tmax'] = df['avg_Tmax']

# ลบคอลัมน์ค่าเฉลี่ยออก (ถ้าไม่ต้องการเก็บไว้)
df = df.drop(columns=['avg_Tmax'])

print(df)

       Sex  agey         province  year_sick  month_sick  year_define  \
0      ชาย    13           ลพบุรี       2023           1         2023
1     หญิง    20           ลพบุรี       2023           1         2023
2     หญิง     4           ลพบุรี       2023           1         2023
3     หญิง     8           ลพบุรี       2023           1         2023
4     หญิง    16           ลพบุรี       2023           1         2023
...    ...   ...              ...        ...         ...          ...
7091   ชาย    47          นครนายก       2023          12         2023
7092  หญิง    54  พระนครศรีอยุธยา       2023          10         2023
7093   ชาย    33          อ่างทอง       2023          11         2023
7094  หญิง    54         ปทุมธานี       2023           7         2023
7095  หญิง    32          นนทบุรี       2023          12         2023

      month_define  year_found  month_found  MinRain     MaxRain     AvgRain  \
0                1        2023            1     0.00    1.300000    0.104646
1                1        2023            1     0.00    1.300000    0.104646
2                1        2023            1     0.00    1.300000    0.104646
3                1        2023            1     0.00    1.300000    0.104646
4                1        2023            1     0.00    1.300000    0.104646
...            ...         ...          ...      ...         ...         ...
7091            12        2024            1     5.60   27.480000   14.828259
7092            10        2023           10   117.32  170.200000  143.530174
7093            11        2023           11    59.03   86.370000   75.188803
7094             7        2023            7    67.50  116.800003   94.471530
7095            12        2023           12     6.26   26.990000   16.877430

           Tmax       Tmin  avg_Tmin_x  avg_Tmin_y
0     35.400000  13.300000        17.5        17.5
1     35.400000  13.300000        17.5        17.5
2     35.400000  13.300000        17.5        17.5
3     35.400000  13.300000        17.5        17.5
4     35.400000  13.300000        17.5        17.5
...         ...        ...         ...         ...
7091  36.500000  18.100000        18.1        18.1
7092  36.200000  23.000000        24.4        24.4
7093  36.007882  17.236946        20.0        20.0
7094  37.500000  24.500000        24.5        24.5
7095        NaN        NaN        18.1        18.1

[7096 rows x 16 columns]

In [71]:
# กำหนดกลุ่มจังหวัดที่ต้องการใช้ในการคำนวณค่าเฉลี่ย
target_provinces = ['ปราจีน', 'สระบุรี', 'นครราชสีมา', 'ฉะเชิงเทรา', 'ปทุมธานี']
avg_provinces = 'นครนายก'

# คำนวณค่าเฉลี่ย Tmin สำหรับจังหวัดที่กำหนดในแต่ละ (year_sick, month_sick)
avg_tmin = (
    df[df['province'].isin(target_provinces)]
    .groupby(['year_sick', 'month_sick'])['Tmin']
    .mean()
    .reset_index()
    .rename(columns={'Tmin': 'avg_Tmin'})
)

# รวมค่าเฉลี่ยที่ได้กลับเข้ากับ DataFrame หลัก
df = df.merge(avg_tmin, on=['year_sick', 'month_sick'], how='left')

# เติมค่า Tmin ในจังหวัด "สิงห์บุรี" ด้วยค่าเฉลี่ยที่คำนวณได้
df.loc[(df['province'] == avg_provinces) & (df['Tmin'].isna()), 'Tmin'] = df['avg_Tmin']

# ลบคอลัมน์ค่าเฉลี่ยออก (ถ้าไม่ต้องการเก็บไว้)
df = df.drop(columns=['avg_Tmin'])

# คำนวณค่าเฉลี่ย Tmax สำหรับจังหวัดที่กำหนดในแต่ละ (year_sick, month_sick)
avg_tmax = (
    df[df['province'].isin(target_provinces)]
    .groupby(['year_sick', 'month_sick'])['Tmax']
    .mean()
    .reset_index()
    .rename(columns={'Tmax': 'avg_Tmax'})
)

# รวมค่าเฉลี่ยที่ได้กลับเข้ากับ DataFrame หลัก
df = df.merge(avg_tmax, on=['year_sick', 'month_sick'], how='left')

# เติมค่า Tmax ในจังหวัด "สิงห์บุรี" ด้วยค่าเฉลี่ยที่คำนวณได้
df.loc[(df['province'] == avg_provinces) & (df['Tmax'].isna()), 'Tmax'] = df['avg_Tmax']

# ลบคอลัมน์ค่าเฉลี่ยออก (ถ้าไม่ต้องการเก็บไว้)
df = df.drop(columns=['avg_Tmax'])

# ตรวจสอบจำนวน NaN ในคอลัมน์ 'Tmax' และ 'Tmin'
nan_counts_selected_columns = df[['Tmax','Tmin']].isna().sum()

print("จำนวน NaN ในคอลัมน์ที่เลือก:")
print(nan_counts_selected_columns)

# แสดง DataFrame หลังจากการเติมค่า
print(df)

จำนวน NaN ในคอลัมน์ที่เลือก:
Tmax    2380
Tmin    2380
dtype: int64
       Sex  agey         province  year_sick  month_sick  year_define  \
0      ชาย    13           ลพบุรี       2023           1         2023
1     หญิง    20           ลพบุรี       2023           1         2023
2     หญิง     4           ลพบุรี       2023           1         2023
3     หญิง     8           ลพบุรี       2023           1         2023
4     หญิง    16           ลพบุรี       2023           1         2023
...    ...   ...              ...        ...         ...          ...
7091   ชาย    47          นครนายก       2023          12         2023
7092  หญิง    54  พระนครศรีอยุธยา       2023          10         2023
7093   ชาย    33          อ่างทอง       2023          11         2023
7094  หญิง    54         ปทุมธานี       2023           7         2023
7095  หญิง    32          นนทบุรี       2023          12         2023

      month_define  year_found  month_found  MinRain     MaxRain     AvgRain  \
0                1        2023            1     0.00    1.300000    0.104646
1                1        2023            1     0.00    1.300000    0.104646
2                1        2023            1     0.00    1.300000    0.104646
3                1        2023            1     0.00    1.300000    0.104646
4                1        2023            1     0.00    1.300000    0.104646
...            ...         ...          ...      ...         ...         ...
7091            12        2024            1     5.60   27.480000   14.828259
7092            10        2023           10   117.32  170.200000  143.530174
7093            11        2023           11    59.03   86.370000   75.188803
7094             7        2023            7    67.50  116.800003   94.471530
7095            12        2023           12     6.26   26.990000   16.877430

      Tmax  Tmin
0     35.4  13.3
1     35.4  13.3
2     35.4  13.3
3     35.4  13.3
4     35.4  13.3
...    ...   ...
7091  36.5  18.1
7092  36.2  23.0
7093   NaN   NaN
7094  37.5  24.5
7095   NaN   NaN

[7096 rows x 14 columns]

In [81]:
# กำหนดกลุ่มจังหวัดที่ต้องการใช้ในการคำนวณค่าเฉลี่ย
target_provinces = ['ชัยนาท', 'สุพรรณบุรี', 'ลพบุรี', 'นครสวรรค์', 'อ่างทอง']
avg_provinces = 'สิงห์บุรี'

# คำนวณค่าเฉลี่ย Tmin สำหรับจังหวัดที่กำหนดในแต่ละ (year_sick, month_sick)
avg_tmin = (
    df[df['province'].isin(target_provinces)]
    .groupby(['year_sick', 'month_sick'])['Tmin']
    .mean()
    .reset_index()
    .rename(columns={'Tmin': 'avg_Tmin'})
)

# รวมค่าเฉลี่ยที่ได้กลับเข้ากับ DataFrame หลัก
df = df.merge(avg_tmin, on=['year_sick', 'month_sick'], how='left')

# เติมค่า Tmin ในจังหวัด "สิงห์บุรี" ด้วยค่าเฉลี่ยที่คำนวณได้
df.loc[(df['province'] == avg_provinces) & (df['Tmin'].isna()), 'Tmin'] = df['avg_Tmin']

# ลบคอลัมน์ค่าเฉลี่ยออก (ถ้าไม่ต้องการเก็บไว้)
df = df.drop(columns=['avg_Tmin'])

# คำนวณค่าเฉลี่ย Tmax สำหรับจังหวัดที่กำหนดในแต่ละ (year_sick, month_sick)
avg_tmax = (
    df[df['province'].isin(target_provinces)]
    .groupby(['year_sick', 'month_sick'])['Tmax']
    .mean()
    .reset_index()
    .rename(columns={'Tmax': 'avg_Tmax'})
)

# รวมค่าเฉลี่ยที่ได้กลับเข้ากับ DataFrame หลัก
df = df.merge(avg_tmax, on=['year_sick', 'month_sick'], how='left')

# เติมค่า Tmax ในจังหวัด "สิงห์บุรี" ด้วยค่าเฉลี่ยที่คำนวณได้
df.loc[(df['province'] == avg_provinces) & (df['Tmax'].isna()), 'Tmax'] = df['avg_Tmax']

# ลบคอลัมน์ค่าเฉลี่ยออก (ถ้าไม่ต้องการเก็บไว้)
df = df.drop(columns=['avg_Tmax'])

# ตรวจสอบจำนวน NaN ในคอลัมน์ 'Tmax' และ 'Tmin'
nan_counts_selected_columns = df[['Tmax','Tmin']].isna().sum()

print("จำนวน NaN ในคอลัมน์ที่เลือก:")
print(nan_counts_selected_columns)

# แสดง DataFrame หลังจากการเติมค่า
print(df)

จำนวน NaN ในคอลัมน์ที่เลือก:
Tmax    3
Tmin    3
dtype: int64
       Sex  agey         province  year_sick  month_sick  year_define  \
0      ชาย    13           ลพบุรี       2023           1         2023
1     หญิง    20           ลพบุรี       2023           1         2023
2     หญิง     4           ลพบุรี       2023           1         2023
3     หญิง     8           ลพบุรี       2023           1         2023
4     หญิง    16           ลพบุรี       2023           1         2023
...    ...   ...              ...        ...         ...          ...
7091   ชาย    47          นครนายก       2023          12         2023
7092  หญิง    54  พระนครศรีอยุธยา       2023          10         2023
7093   ชาย    33          อ่างทอง       2023          11         2023
7094  หญิง    54         ปทุมธานี       2023           7         2023
7095  หญิง    32          นนทบุรี       2023          12         2023

      month_define  year_found  month_found  MinRain     MaxRain     AvgRain  \
0                1        2023            1     0.00    1.300000    0.104646
1                1        2023            1     0.00    1.300000    0.104646
2                1        2023            1     0.00    1.300000    0.104646
3                1        2023            1     0.00    1.300000    0.104646
4                1        2023            1     0.00    1.300000    0.104646
...            ...         ...          ...      ...         ...         ...
7091            12        2024            1     5.60   27.480000   14.828259
7092            10        2023           10   117.32  170.200000  143.530174
7093            11        2023           11    59.03   86.370000   75.188803
7094             7        2023            7    67.50  116.800003   94.471530
7095            12        2023           12     6.26   26.990000   16.877430

           Tmax       Tmin
0     35.400000  13.300000
1     35.400000  13.300000
2     35.400000  13.300000
3     35.400000  13.300000
4     35.400000  13.300000
...         ...        ...
7091  36.500000  18.100000
7092  36.200000  23.000000
7093  36.007882  17.236946
7094  37.500000  24.500000
7095  36.500000  18.100000

[7096 rows x 14 columns]

In [83]:
# กำหนดกลุ่มจังหวัดที่ต้องการใช้ในการคำนวณค่าเฉลี่ย
target_provinces = ['พระนครศรีอยุธยา', 'ลพบุรี', 'สุพรรณบุรี']
avg_provinces = 'อ่างทอง'

# คำนวณค่าเฉลี่ย Tmin สำหรับจังหวัดที่กำหนดในแต่ละ (year_sick, month_sick)
avg_tmin = (
    df[df['province'].isin(target_provinces)]
    .groupby(['year_sick', 'month_sick'])['Tmin']
    .mean()
    .reset_index()
    .rename(columns={'Tmin': 'avg_Tmin'})
)

# รวมค่าเฉลี่ยที่ได้กลับเข้ากับ DataFrame หลัก
df = df.merge(avg_tmin, on=['year_sick', 'month_sick'], how='left')

# เติมค่า Tmin ในจังหวัด "สิงห์บุรี" ด้วยค่าเฉลี่ยที่คำนวณได้
df.loc[(df['province'] == avg_provinces) & (df['Tmin'].isna()), 'Tmin'] = df['avg_Tmin']

# ลบคอลัมน์ค่าเฉลี่ยออก (ถ้าไม่ต้องการเก็บไว้)
df = df.drop(columns=['avg_Tmin'])

# คำนวณค่าเฉลี่ย Tmax สำหรับจังหวัดที่กำหนดในแต่ละ (year_sick, month_sick)
avg_tmax = (
    df[df['province'].isin(target_provinces)]
    .groupby(['year_sick', 'month_sick'])['Tmax']
    .mean()
    .reset_index()
    .rename(columns={'Tmax': 'avg_Tmax'})
)

# รวมค่าเฉลี่ยที่ได้กลับเข้ากับ DataFrame หลัก
df = df.merge(avg_tmax, on=['year_sick', 'month_sick'], how='left')

# เติมค่า Tmax ในจังหวัด "สิงห์บุรี" ด้วยค่าเฉลี่ยที่คำนวณได้
df.loc[(df['province'] == avg_provinces) & (df['Tmax'].isna()), 'Tmax'] = df['avg_Tmax']

# ลบคอลัมน์ค่าเฉลี่ยออก (ถ้าไม่ต้องการเก็บไว้)
df = df.drop(columns=['avg_Tmax'])

# ตรวจสอบจำนวน NaN ในคอลัมน์ 'Tmax' และ 'Tmin'
nan_counts_selected_columns = df[['Tmax','Tmin']].isna().sum()

print("จำนวน NaN ในคอลัมน์ที่เลือก:")
print(nan_counts_selected_columns)

# แสดง DataFrame หลังจากการเติมค่า
print(df)

จำนวน NaN ในคอลัมน์ที่เลือก:
Tmax    3
Tmin    3
dtype: int64
       Sex  agey         province  year_sick  month_sick  year_define  \
0      ชาย    13           ลพบุรี       2023           1         2023
1     หญิง    20           ลพบุรี       2023           1         2023
2     หญิง     4           ลพบุรี       2023           1         2023
3     หญิง     8           ลพบุรี       2023           1         2023
4     หญิง    16           ลพบุรี       2023           1         2023
...    ...   ...              ...        ...         ...          ...
7091   ชาย    47          นครนายก       2023          12         2023
7092  หญิง    54  พระนครศรีอยุธยา       2023          10         2023
7093   ชาย    33          อ่างทอง       2023          11         2023
7094  หญิง    54         ปทุมธานี       2023           7         2023
7095  หญิง    32          นนทบุรี       2023          12         2023

      month_define  year_found  month_found  MinRain     MaxRain     AvgRain  \
0                1        2023            1     0.00    1.300000    0.104646
1                1        2023            1     0.00    1.300000    0.104646
2                1        2023            1     0.00    1.300000    0.104646
3                1        2023            1     0.00    1.300000    0.104646
4                1        2023            1     0.00    1.300000    0.104646
...            ...         ...          ...      ...         ...         ...
7091            12        2024            1     5.60   27.480000   14.828259
7092            10        2023           10   117.32  170.200000  143.530174
7093            11        2023           11    59.03   86.370000   75.188803
7094             7        2023            7    67.50  116.800003   94.471530
7095            12        2023           12     6.26   26.990000   16.877430

           Tmax       Tmin
0     35.400000  13.300000
1     35.400000  13.300000
2     35.400000  13.300000
3     35.400000  13.300000
4     35.400000  13.300000
...         ...        ...
7091  36.500000  18.100000
7092  36.200000  23.000000
7093  36.007882  17.236946
7094  37.500000  24.500000
7095  36.500000  18.100000

[7096 rows x 14 columns]

In [75]:
# กำหนดกลุ่มจังหวัดที่ต้องการใช้ในการคำนวณค่าเฉลี่ย
target_provinces = ['ลพบุรี', 'พระนครศรีอยุธยา', 'นครนายก','นครราชสีมา']
avg_provinces = 'สระบุรี'

# คำนวณค่าเฉลี่ย Tmin สำหรับจังหวัดที่กำหนดในแต่ละ (year_sick, month_sick)
avg_tmin = (
    df[df['province'].isin(target_provinces)]
    .groupby(['year_sick', 'month_sick'])['Tmin']
    .mean()
    .reset_index()
    .rename(columns={'Tmin': 'avg_Tmin'})
)

# รวมค่าเฉลี่ยที่ได้กลับเข้ากับ DataFrame หลัก
df = df.merge(avg_tmin, on=['year_sick', 'month_sick'], how='left')

# เติมค่า Tmin ในจังหวัด "สิงห์บุรี" ด้วยค่าเฉลี่ยที่คำนวณได้
df.loc[(df['province'] == avg_provinces) & (df['Tmin'].isna()), 'Tmin'] = df['avg_Tmin']

# ลบคอลัมน์ค่าเฉลี่ยออก (ถ้าไม่ต้องการเก็บไว้)
df = df.drop(columns=['avg_Tmin'])

# คำนวณค่าเฉลี่ย Tmax สำหรับจังหวัดที่กำหนดในแต่ละ (year_sick, month_sick)
avg_tmax = (
    df[df['province'].isin(target_provinces)]
    .groupby(['year_sick', 'month_sick'])['Tmax']
    .mean()
    .reset_index()
    .rename(columns={'Tmax': 'avg_Tmax'})
)

# รวมค่าเฉลี่ยที่ได้กลับเข้ากับ DataFrame หลัก
df = df.merge(avg_tmax, on=['year_sick', 'month_sick'], how='left')

# เติมค่า Tmax ในจังหวัด "สิงห์บุรี" ด้วยค่าเฉลี่ยที่คำนวณได้
df.loc[(df['province'] == avg_provinces) & (df['Tmax'].isna()), 'Tmax'] = df['avg_Tmax']

# ลบคอลัมน์ค่าเฉลี่ยออก (ถ้าไม่ต้องการเก็บไว้)
df = df.drop(columns=['avg_Tmax'])

# ตรวจสอบจำนวน NaN ในคอลัมน์ 'Tmax' และ 'Tmin'
nan_counts_selected_columns = df[['Tmax','Tmin']].isna().sum()

print("จำนวน NaN ในคอลัมน์ที่เลือก:")
print(nan_counts_selected_columns)

# แสดง DataFrame หลังจากการเติมค่า
print(df)

จำนวน NaN ในคอลัมน์ที่เลือก:
Tmax    1225
Tmin    1225
dtype: int64
       Sex  agey         province  year_sick  month_sick  year_define  \
0      ชาย    13           ลพบุรี       2023           1         2023
1     หญิง    20           ลพบุรี       2023           1         2023
2     หญิง     4           ลพบุรี       2023           1         2023
3     หญิง     8           ลพบุรี       2023           1         2023
4     หญิง    16           ลพบุรี       2023           1         2023
...    ...   ...              ...        ...         ...          ...
7091   ชาย    47          นครนายก       2023          12         2023
7092  หญิง    54  พระนครศรีอยุธยา       2023          10         2023
7093   ชาย    33          อ่างทอง       2023          11         2023
7094  หญิง    54         ปทุมธานี       2023           7         2023
7095  หญิง    32          นนทบุรี       2023          12         2023

      month_define  year_found  month_found  MinRain     MaxRain     AvgRain  \
0                1        2023            1     0.00    1.300000    0.104646
1                1        2023            1     0.00    1.300000    0.104646
2                1        2023            1     0.00    1.300000    0.104646
3                1        2023            1     0.00    1.300000    0.104646
4                1        2023            1     0.00    1.300000    0.104646
...            ...         ...          ...      ...         ...         ...
7091            12        2024            1     5.60   27.480000   14.828259
7092            10        2023           10   117.32  170.200000  143.530174
7093            11        2023           11    59.03   86.370000   75.188803
7094             7        2023            7    67.50  116.800003   94.471530
7095            12        2023           12     6.26   26.990000   16.877430

           Tmax       Tmin
0     35.400000  13.300000
1     35.400000  13.300000
2     35.400000  13.300000
3     35.400000  13.300000
4     35.400000  13.300000
...         ...        ...
7091  36.500000  18.100000
7092  36.200000  23.000000
7093  36.007882  17.236946
7094  37.500000  24.500000
7095        NaN        NaN

[7096 rows x 14 columns]

In [95]:
import pandas as pd

# อ่านข้อมูลจากไฟล์ CSV หรือไฟล์อื่น ๆ
# สมมติว่าไฟล์นี้มีคอลัมน์ 'province' ที่เก็บชื่อจังหวัดที่ต้องการ
province_file = 'อุณหภูมิสูงสุดและต่ำสุด รายเดือน รายจังหวัด.csv'
province_data = pd.read_csv(province_file)

# ดึงข้อมูลในคอลัมน์ 'province' จากไฟล์ที่อ่านมา
target_provinces = ['นครปฐม','กรุงเทพมหานคร','ปทุมธานี']

# กำหนดจังหวัดที่ใช้ในการคำนวณค่าเฉลี่ย (เช่น จังหวัดที่ต้องการเติมค่า)
avg_provinces = 'นนทบุรี'

# คำนวณค่าเฉลี่ย Tmin สำหรับจังหวัดที่กำหนดในแต่ละ (year_sick, month_sick)
avg_tmin = (
    df[df['province'].isin(target_provinces)]
    .groupby(['year_sick', 'month_sick'])['Tmin']
    .mean()
    .reset_index()
    .rename(columns={'Tmin': 'avg_Tmin'})
)

# รวมค่าเฉลี่ยที่ได้กลับเข้ากับ DataFrame หลัก
df = df.merge(avg_tmin, on=['year_sick', 'month_sick'], how='left')

# เติมค่า Tmin ในจังหวัดที่ต้องการ (ในที่นี้คือตัวแปร avg_provinces) ด้วยค่าเฉลี่ยที่คำนวณได้
df.loc[(df['province'] == avg_provinces) & (df['Tmin'].isna()), 'Tmin'] = df['avg_Tmin']

# ลบคอลัมน์ค่าเฉลี่ยออก (ถ้าไม่ต้องการเก็บไว้)
df = df.drop(columns=['avg_Tmin'])

# คำนวณค่าเฉลี่ย Tmax สำหรับจังหวัดที่กำหนดในแต่ละ (year_sick, month_sick)
avg_tmax = (
    df[df['province'].isin(target_provinces)]
    .groupby(['year_sick', 'month_sick'])['Tmax']
    .mean()
    .reset_index()
    .rename(columns={'Tmax': 'avg_Tmax'})
)

# รวมค่าเฉลี่ยที่ได้กลับเข้ากับ DataFrame หลัก
df = df.merge(avg_tmax, on=['year_sick', 'month_sick'], how='left')

# เติมค่า Tmax ในจังหวัดที่ต้องการ (ในที่นี้คือตัวแปร avg_provinces) ด้วยค่าเฉลี่ยที่คำนวณได้
df.loc[(df['province'] == avg_provinces) & (df['Tmax'].isna()), 'Tmax'] = df['avg_Tmax']

# ลบคอลัมน์ค่าเฉลี่ยออก (ถ้าไม่ต้องการเก็บไว้)
df = df.drop(columns=['avg_Tmax'])

# ตรวจสอบจำนวน NaN ในคอลัมน์ 'Tmax' และ 'Tmin'
nan_counts_selected_columns = df[['Tmax', 'Tmin']].isna().sum()

print("จำนวน NaN ในคอลัมน์ที่เลือก:")
print(nan_counts_selected_columns)

# แสดง DataFrame หลังจากการเติมค่า
print(df)

จำนวน NaN ในคอลัมน์ที่เลือก:
Tmax    3
Tmin    3
dtype: int64
       Sex  agey         province  year_sick  month_sick  year_define  \
0      ชาย    13           ลพบุรี       2023           1         2023
1     หญิง    20           ลพบุรี       2023           1         2023
2     หญิง     4           ลพบุรี       2023           1         2023
3     หญิง     8           ลพบุรี       2023           1         2023
4     หญิง    16           ลพบุรี       2023           1         2023
...    ...   ...              ...        ...         ...          ...
7091   ชาย    47          นครนายก       2023          12         2023
7092  หญิง    54  พระนครศรีอยุธยา       2023          10         2023
7093   ชาย    33          อ่างทอง       2023          11         2023
7094  หญิง    54         ปทุมธานี       2023           7         2023
7095  หญิง    32          นนทบุรี       2023          12         2023

      month_define  year_found  month_found  MinRain     MaxRain     AvgRain  \
0                1        2023            1     0.00    1.300000    0.104646
1                1        2023            1     0.00    1.300000    0.104646
2                1        2023            1     0.00    1.300000    0.104646
3                1        2023            1     0.00    1.300000    0.104646
4                1        2023            1     0.00    1.300000    0.104646
...            ...         ...          ...      ...         ...         ...
7091            12        2024            1     5.60   27.480000   14.828259
7092            10        2023           10   117.32  170.200000  143.530174
7093            11        2023           11    59.03   86.370000   75.188803
7094             7        2023            7    67.50  116.800003   94.471530
7095            12        2023           12     6.26   26.990000   16.877430

           Tmax       Tmin
0     35.400000  13.300000
1     35.400000  13.300000
2     35.400000  13.300000
3     35.400000  13.300000
4     35.400000  13.300000
...         ...        ...
7091  36.500000  18.100000
7092  36.200000  23.000000
7093  36.007882  17.236946
7094  37.500000  24.500000
7095  36.500000  18.100000

[7096 rows x 14 columns]

In [97]:
# ค้นหาแถวที่มีค่า NaN ในคอลัมน์ Tmin หรือ Tmax
nan_rows = df[df[['Tmin', 'Tmax']].isna().any(axis=1)]

# แสดงคอลัมน์ province ของแถวที่มีค่า NaN
print(nan_rows['province'])

2058    นนทบุรี
2837    นนทบุรี
2838    นนทบุรี
Name: province, dtype: object

In [101]:
# บันทึกผลลัพธ์ลงไฟล์ CSV ใหม่
df.to_csv("clean_combined_file.csv", index=False)